.from_to_button {
  display: flex;
  align-items: center;
  gap: 9px;
  border-radius: 20px !important;
}

.from_to_container {
  display: flex;
  align-items: center;  
  text-align: left;
  white-space: nowrap;
  gap: 9px;
  min-width: 60px;
}

.from_to_date {
  font-size: 24px;
}

.month_year_dayname {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1;
  gap: 2px;
  padding-top: 2px;
}

.dayname {
  font-size: 9px;
  opacity: 0.4;
}

.date_placeholder {
  font-size: 14px;
  opacity: 0.5;
  padding-top: 1px;
}

.date_range_picker {
  position: fixed;
  right: 0;
  z-index: 1;
}
